
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg">
    <div class="row">
        <!-- <div class="col-md-4"></div> -->
        <div class="col-md-4 mx-auto">
            <form class="form-container">
                <h2>Đăng nhập</h2>
                <div class="form-group" id="form-login">
                    <label for="myEmailSignUp">User Name</label>
                    <input type="text" name="Email" id="Name" class="form-control" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label for="myPasswordSignUp">Mật khẩu</label>
                    <input type="password" name="Password" id="Pass" class="form-control" placeholder="Mật khẩu">
                    <span id="icon-click">
                        <i class="fas fa-eye" aria-hidden="true" id="eye"></i>
                    </span>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Ghi nhớ mật khẩu
                    </label>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success btn-block" id="signin">Đăng nhập</button>
                </div>
                <div class="form-group">
                    <p style="text-align: center; margin-top: 5px;"><a href="#">Quên mật khẩu?</a></p>
                    <p class="note" style="text-align:center">Bạn chưa có tài khoản? Đăng ký <a href="#register" data-toggle="modal">tại đây</a></p>
                </div>
            </form>
        </div>
        <!-- <div class="col-md-4"></div> -->
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerLabel" style="color: rgb(15, 134, 238);">Đăng ký</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="createAcc" id="formRegister">
                    <div class="form-group">
                        <label for="myEmail">Email</label>
                        <input type="email" name="myEmail" id="myEmail" class="form-control" placeholder="Email">
                        <!-- <span id="text"></span> -->
                    </div>
                    <div class="form-group">
                        <label for="myUserName">Tên người dùng</label>
                        <input type="text" name="userName" id="username" class="form-control" placeholder="Tên người dùng">
                    </div>
                    <div class="form-group">
                        <label for="myPassword">Mật khẩu</label>
                        <input type="password" name="myPassword" id="myPassword" class="form-control" placeholder="Mật khẩu">
                    </div>
                    <div class="form-group">
                        <label for="myPasswordConfirm">Xác nhận mật khẩu</label>
                        <input type="password" name="confirmPass" id="confirmPass" class="form-control" placeholder="Xác nhận mật khẩu">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="Register">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- TOAST-->

<div class="toast" id="failedToastSignin" data-delay="3000" style="position: absolute; top: 0; right: 0;">
    <div class="toast-header Failed">
        <strong class="mr-auto">Sign in Failed</strong>
        <!-- <small>now</small> -->
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body Failed">
        Đăng nhập không thành công! Vui lòng xem lại form.
    </div>
</div>
<div class="toast" id="successToastSignin" data-delay="3000" style="position: absolute; top: 0; right: 0;">
    <div class="toast-header Success">
        <strong class="mr-auto">Sign in Success</strong>
        <!-- <small>now</small> -->
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body Success">
        Đăng nhập thành công!
    </div>
</div>

<div class="toast" id="failedToast" data-delay="3000" style="position: absolute; top: 0; right: 0;">
    <div class="toast-header Failed">
        <strong class="mr-auto">Register Failed</strong>
        <!-- <small>now</small> -->
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body Failed">
        Đăng ký không thành công! Vui lòng sửa lại bảng mẫu.
    </div>
</div>
<div class="toast" id="successToast" data-delay="3000" style="position: absolute; top: 0; right: 0;">
    <div class="toast-header Success">
        <strong class="mr-auto">Register Success</strong>
        <!-- <small>now</small> -->
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body Success">
        Đăng ký thành công!
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="~/Content/JS/login.js"></script>